.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 140px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
}

.image-upload-container {
    margin-bottom: 20px;
}

.image-upload-label {
    display: block;
    text-align: center;
}

.image-upload-label img {
    display: block;
    margin: 0 auto;
    border: 2px solid #4a98f7;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.but {
    background-color: #4a98f7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.but:hover {
    background-color: #3e7ac0;
}

.text-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}