{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ book.bookname }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bookdetails.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    {% include 'user/mainNav.html' %}

    <div class="container">
        <h1>{{ book.bookname }}</h1>
        <img src="{{ book.image.url }}" alt="{{ book.bookname }}" width="300px">
        <table>
            <tr>
                <th>Author</th>
                <td>{{ book.Author }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ book.category }}</td>
            </tr>
            <tr>
                <th>Publisher</th>
                <td>{{ book.publisher }}</td>
            </tr>
            <tr>
                <th>Publication Date</th>
                <td>{{ book.PublicationDate }}</td>
            </tr>
            <tr>
                <th>Number of Pages</th>
                <td>{{ book.noofpages }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.Description }}</td>
            </tr>
            <tr>
                <th>Number of available copies of this book</th>
                <td>{{ book.noofcopies }}</td>
            </tr>
        </table>
    </div>

    <button type="button" class="button" onclick="confirmReturn('{{ book.id }}', '{{ personid }}')">Return Book</button>

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function confirmReturn(bookId, personId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You are about to return this book.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, return it!',
                cancelButtonText: 'No, cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`{% url 'return_book' book_id=0 person_id=0 %}`.replace('0', bookId).replace('0', personId), {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken'),
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            Swal.fire(
                                'Returned!',
                                'The book has been returned successfully.',
                                'success'
                            ).then(() => {
                                window.location.href = `{% url 'availableBooks' person_id=personid %}`;
                            });
                        } else {
                            Swal.fire(
                                'Error!',
                                'Something went wrong. Please try again later.',
                                'error'
                            );
                        }
                    })
                    .catch((error) => {
                        Swal.fire(
                                'Error!',
                                'Something went wrong. Please try again later.',
                                'error'
                        );
                    });
                }
            });
        }
    </script>

</body>
</html>
